*{
  margin:0;
  padding:0;
}

.background{
  background-color: #FFFBE3;
}

.mt-800{
  margin-top: 100px;
  margin-bottom: 100px;
}
a:visited {
  text-decoration: none;
  background-color: transparent;
  color:black
}

.text-nav {
  font-family: Sans-serif;
  color: #000000;
}

.navbar {
  background-color: #BEE6FF;
}
.navbar-nav{
  color:#000000
}

.navbar-brand {
  color: #000000;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.box .card {
  height: 100%;
  border: none;
  background: none;
}

.card-text {
  text-align: center;
  font-family: Sans-serif;
  font-size: 18px;
  color: black;
  font-weight:600;
}

.card img {
  border: 2px solid #FF7AC1;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}

.card-body {
  background-color: #FFBDE0;
  border: 2px solid #FF7AC1;
  border-radius: 0 0 12px 12px;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.gap-y {
  row-gap: 32px;
}

.card {
  cursor: pointer;
}

.navbar-toggler-icon{
  filter: invert(1);
}